# Set default behavior to LF (Unix line endings)
* text=auto eol=lf

# Explicitly handle Windows-specific files
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Exclude binary files
*.{png,jpg,jpeg,gif,ico,svg,woff,woff2,ttf,eot} binary